.blog-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.blog {
  width: 680px;
  height: auto;
  background-color: #676666;
  border-radius: 10px;
  margin-top: 30px;
  text-align: center;
}
.title {
  text-align: center;
  margin-bottom: 30px;
}
.content-item {
  padding: 10px;
}
.image-blog {
  width: 660px;
  height: 580px;
  border-radius: 12px;
}
.comment-title {
  padding: 20px;
}
//btn
.btn {
  margin-left: 12px;
  border-radius: 0.6em;
  //   width: 163px;
  height: 40px;
  padding: 1rem 2rem;
  font-weight: 700;
  background: rgb(255, 255, 255);
  color: blueviolet;
  //   border-radius: 0.5rem;
  border-bottom: 2px solid blueviolet;
  border-right: 2px solid blueviolet;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transition-duration: 1s;
  transition-property: border-top, border-left, border-bottom, border-right,
    box-shadow;
}

.btn:hover {
  border-top: 2px solid blueviolet;
  border-left: 2px solid blueviolet;
  border-bottom: 2px solid rgb(238, 103, 238);
  border-right: 2px solid rgb(238, 103, 238);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px;
}
.comment-import {
  width: 1150px;
  height: 40px;
  margin-left: 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 12px;
  margin-bottom: 20px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 18px;
}
.user-comment {
  display: flex;
}
.profile-user {
  padding: 0 6px;
}
.date {
  font-size: 1rem;
}
.content-cmt,
.name-user {
  color: #08ddff;
}
.content-cmt {
  margin-left: 18px;
}
.hr-comment {
  border-color: #6fab5f;
  margin: 10px 0px;
}
.comment-detail {
  text-decoration: none;
}
.profile-user {
  padding: 0 6px;
  // margin-left: 18px;
}
.users-comment-parent {
  padding: 12px 0px;
  // margin-left: 18px;
}
@media (max-width: 740px) {
  .comment-import {
    width: 250px;
  }
  .blog {
    width: 360px;
  }
  .image-blog {
    width: 360px;
    height: 380px;
  }
  .btn {
    margin-left: 6px;
  }
  .hr-comment {
    padding: 0px;
  }
  .title {
    padding: 0px 8px;
  }
}
