.title-contact {
  text-align: center;
  color: azure;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact {
  width: 700px;
  height: 500px;
  background-color: #353333;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-child {
  width: 600px;
  height: 400px;
  background-color: rgb(64, 66, 66);
  border-radius: 12px;
}
.contact-title {
  font-size: 2.6rem;
  text-align: center;
}

//Input css
.input-group {
  text-align: center;
}
.input-email {
  width: 542px;
  border: none;
  padding: 10px 10px 10px 5px;
  background: transparent;
  border-bottom: 1px solid #6b6b6b;
  margin-bottom: 6px;
  color: #fff;
}
.input-email:focus {
  outline: none;
}
.label {
  margin-right: 500px;
}
.textarea-group {
  text-align: center;
}
.textarea-email {
  width: 542px;
  height: 200px;
  border: none;
  padding: 10px 10px 10px 5px;
  background: transparent;
  border-bottom: 1px solid #6b6b6b;
  color: #fff;
}
.textarea-email:focus {
  outline: none;
}
.button-send {
  text-align: center;
}
.btn {
  width: 542px;
  height: 35px;
  margin: 10px 0px;
  border-radius: 12px;
  color: var(--white);
  background-color: rgb(0, 0, 0, 0);
}
.btn:hover {
  background-color: #17c964;
}

@media (max-width: 740px) {
  .contact-child {
    width: 365px;
    height: 400px;
    background-color: rgb(64, 66, 66);
    border-radius: 12px;
  }
  .input-email {
    width: 307px;
  }
  .textarea-email {
    width: 307px;
  }
  .btn {
    width: 307px;
  }
  .label {
    margin-right: 270px;
  }
  .contact {
    height: 700px;
    // background-color: var(--black);
    border-radius: 0px;
  }
}

//login
.wrapper-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  width: 600px;
  height: 580px;
  background-color: #18181b;
  margin-top: 80px;
  margin-bottom: 80px;
  border-radius: 20px;
  text-align: center;
}
.form-title {
  border-bottom: 1px solid var(--success);
  margin-bottom: 20px;
}
.title {
  text-align: center;
  margin-bottom: 12px;
  color: var(--success);
}

//css btn
.btn {
  color: var(--white);
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  width: 316px;
}

.btn:hover {
  box-shadow: 2px 2px 15px #8707ff inset;
}

.btn:active {
  box-shadow: 2px 2px 20px #8707ff inset;
}

.btn-github {
  color: var(--white);
  border: 2px solid #30ff07;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  width: 316px;
}

.btn-github:hover {
  box-shadow: 2px 2px 15px #30ff07 inset;
}

.btn-github:active {
  box-shadow: 2px 2px 20px #30ff07 inset;
}
