.home-content {
    width: 100%;
}
.content-movie {
    margin-top: 30px;
}
.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 500px;
    background-color: aqua;
}

.each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}
.product-item {
    display: inline-block;
    flex: none;
    width: 282px;
    height: 320px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    margin-left: 17px;
}

.img-product {
    width: 100%;
    height: 234px;
    object-fit: cover;
}

.name-product {
    font-size: 15px;
    margin-top: 10px;
    color: var(--white);
    max-width: 280px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.img-product:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.content-movie h2 {
    margin-left: 26px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.list-movie {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 10px;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none; /* Ẩn thanh cuộn trên IE và Edge */
    scrollbar-width: none; /* Ẩn thanh cuộn trên Firefox */
}
.list-movie::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn */
}

.list-movie {
    -ms-overflow-style: none; /* Ẩn thanh cuộn trên IE và Edge */
    scrollbar-width: none; /* Ẩn thanh cuộn trên Firefox */
}
@media (max-width: 1150px) {
    .content-movie {
        margin-top: 20px;
    }
}

.banner-slide {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
  
    .banner-img {
      width: 100%;
      height: 100%;
      object-fit: cover; 
      filter: brightness(0.4); // làm tối nền ảnh
    }
  
    .banner-content {
      position: absolute;
      top: 60%;
      left: 7%;
      transform: translateY(-50%);
      color: white;
      max-width: 600px;
      z-index: 1;
  
      h2 {
        font-size: 3rem;
        font-weight: bold;
      }
  
      .tags,
      .genres {
        margin-top: 10px;
  
        span {
          background: rgba(255, 255, 255, 0.2);
          padding: 4px 10px;
          border-radius: 5px;
          margin-right: 6px;
          font-size: 14px;
        }
      }
  
      p {
        margin-top: 20px;
        font-size: 16px;
        line-height: 1.5;
      }
  
      .buttons {
        margin-top: 25px;
        display: flex;
        gap: 16px;
  
        button {
          background: rgba(255, 255, 255, 0.2);
          color: white;
          padding: 12px 16px;
          border: none;
          border-radius: 30%;
          font-size: 18px;
          transition: 0.3s;
  
          &:hover {
            background: rgba(255, 255, 255, 0.4);
          }
        }
  
        .play-btn {
          background-color: #ffd700;
          color: black;
        }
      }
    }
  }
  