.home-content {
    width: 100vw;
}
.content-movie {
    margin-top: 30px;
}
.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 500px;
    background-color: aqua;
}

.each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}
/* Sản phẩm */
.product-item {
    display: inline-block;
    flex: none;
    width: 282px;
    height: 320px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    margin-left: 17px;
}

/* Hình ảnh sản phẩm */
.img-product {
    width: 100%;
    height: 234px;
    object-fit: cover;
}

/* Tên sản phẩm */
.name-product {
    font-size: 15px;
    margin-top: 10px;
    color: var(--white);
    max-width: 280px;
    text-overflow: ellipsis; /* Hiển thị dấu chấm lửng (...) thay vì bị cắt ngang */
    white-space: nowrap; /* Ngăn chặn tự động xuống dòng */
    overflow: hidden; /* Ẩn phần văn bản bị cắt bớt */
}
.img-product:hover {
    transform: scale(1.2); /* Phóng to ảnh lên 1.2 lần khi hover */
    transition: all 0.3s ease; /* Thời gian chuyển tiếp 0.3s */
}

.content-movie h2 {
    margin-left: 26px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.list-movie {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
}
