$transition-duration: 0.5s;
.title-content {
  text-align: center;
  margin-top: 40px;
  color: #fff;
  // font-size: 1.6rem;
  padding: 12px;
  // font-weight: 500;
}
.title-name {
  font-size: 2.5rem;
  font-weight: 500;
  padding: 0px 0px 10px 0px;
}
.form-avt {
  text-align: center;
}
.avt-thanh {
  padding: 0 12px;
  width: 292px;
}
.img-avt {
  width: 292px;
  height: 400px;
  border-radius: 10px;
  transition: transform $transition-duration;
  &:hover {
    transform: scale(1.2);
  }
}
.job {
  font-size: 1.4rem;
}
.introduce {
  margin-bottom: 16px;
}
.skills {
  margin-top: 40px;
}
.skill-title {
  padding: 0px 0px 10px 0px;
}
.histories {
  margin-top: 40px;
}
.history-title {
  margin-top: 40px;
}
.wrapper {
  padding: 12px 12px 2px;
}
.container-avt {
  display: flex;
}
.content-container {
  width: 964px;
  height: 100%;
  border-radius: 10px;
  background-color: #555353;
  margin-left: 34px;
}
.section-child-header {
  text-align: center;
  margin-bottom: 50px;
}
.section-child {
  padding: 12px;
}
.section-child-header {
  padding: 16px 0px 0px;
}
.project-title {
  font-size: 1.9rem;
}
.project-content {
  padding: 16px 0px;
}
.project-address-link {
  color: var(--success);
  padding: 8px 8px 8px 0px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.project-hr {
  margin: 8px 0px;
  opacity: 0.5;
}
.info-title {
  text-align: center;
}
.info-list {
  padding: 12px 0px;
}
.info-list-item {
  list-style: none;
  padding: 0px 12px;
}

@media (max-width: 740px) {
  .container {
    width: 375px;
  }
  .avt-thanh {
    display: none;
  }
  .container-avt {
    margin-left: -34px;
    margin-bottom: 12px;
  }
}
