.wrapper {
    margin-top: 60px;
}
.wrapper h1 {
    margin-top: 50px;
    margin-bottom: 30px;
}
.movie-list {
    text-align: center;
}
.product-item {
    display: inline-block;
    flex: none;
    width: 16vw;
    height: 320px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    margin-left: 17px;
}

.img-product {
    width: 100%;
    height: 234px;
    object-fit: cover;
}

.name-product {
    font-size: 15px;
    margin-top: 10px;
    color: var(--white);
    max-width: 280px;
    text-overflow: ellipsis; /* Hiển thị dấu chấm lửng (...) thay vì bị cắt ngang */
    white-space: nowrap; /* Ngăn chặn tự động xuống dòng */
    overflow: hidden; /* Ẩn phần văn bản bị cắt bớt */
}
.img-product:hover {
    transform: scale(1.2); /* Phóng to ảnh lên 1.2 lần khi hover */
    transition: all 0.3s ease; /* Thời gian chuyển tiếp 0.3s */
}
.undo-film {
    color: #fff;
    border-radius: 3px;
    margin-top: 5px;
    margin-left: 6px;
    height: 30px;
    width: 100px;
    background-image: linear-gradient(to right, #009245, #d0c200, #00a8c5, #d9e021);
}
@media (max-width: 1024px) {
    .product-item {
        width: calc(50%);
        margin-left: 0;
    }
}
