.wrapper h1 {
    margin-top: 50px;
    margin-bottom: 30px;
}
.movie-list {
    text-align: center;
}
.product-item {
    display: inline-block;
    flex: none;
    width: 16vw;
    height: 320px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    margin-left: 17px;
}

.img-product {
    width: 100%;
    height: 234px;
    object-fit: cover;
}

.name-product {
    font-size: 15px;
    margin-top: 10px;
    color: var(--white);
    max-width: 280px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.img-product:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.ellipsis,
.page-button {
    background-color: #f2f2f2;
    border: none;
    color: #333;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.page-button.active {
    background-color: #ffbe0b;
    color: #17c964;
}
@media (max-width: 1024px) {
    .product-item {
        width: calc(50%);
        margin-left: 0;
    }
}
