.container {
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
}

h1 {
    text-align: center;
    font-size: 24px;
}
h2 {
    color: #ffbe0b;
}
nav {
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #000;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-6 {
    flex: 1 0 50%;
    padding: 10px;
}
.poster-img {
    width: 100%;
    max-width: 80vw;
}
.play {
    text-decoration: none;
}
.btn-play {
    color: #fff;
    border: none;
    font-size: 1.6rem;
    border-radius: 2px;
    transition: 0.3s;
    cursor: pointer;
    width: 150px;
    height: 35px;
    margin-right: 6px;
    border-radius: 3px;
    background-image: linear-gradient(to right, #fb0, #e43603, #ff6290, #ff5000);

}
.info {
    padding: 20px;
}
.btn-share {
    border: none;
    border-radius: 3px;
    width: 50px;
    height: 35px;
    background: #f8b3c7;
    background-image: linear-gradient(to right, #25aae1, #024fd6, #04befe, #3f86ed);
}
.btn-save {
    border: none;
    color: white;
    border-radius: 3px;
    margin-top: 5px;
    margin-left: 6px;
    margin-right: 6px;
    height: 35px;
    padding: 0 5px;
    background-image: linear-gradient(to right, #009245, #d0c200, #00a8c5, #d9e021);
}
@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 16px;
    }
    p {
        font-size: 14px;
    }
    .btn-save {
        margin-left: 0px;
    }
    .btn-share {
        margin-top: 10px;
    }
    .container {
        margin-top: 80px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }
    h2 {
        font-size: 14px;
    }
    p {
        font-size: 12px;
    }
    .btn-save {
        margin-left: 0px;
    }
    .btn-share {
        margin-top: 10px;
    }
    .container {
        margin-top: 80px;
    }
}
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .col-md-6 {
        flex: 1 0 100%;
    }
    .btn-save {
        margin-left: 0px;
    }
    .btn-share {
        margin-top: 10px;
    }
    .container {
        margin-top: 80px;
    }
}

.container {
    padding: 2vw;
}

.poster img {
    max-width: 80vw;
}
