.container {
    // margin: 0 auto;
    // padding: 20px;
    // margin-top: 50px;
}

h1 {
    text-align: center;
    font-size: 24px;
}
h2 {
    color: #ffbe0b;
}
nav {
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #000;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 2vw;
    background: rgba(25, 27, 36, .3);
}

.col-md-8 {
    flex: 1 0 50%;
    // padding: 10px;
}
.detail-banner-img {
    width: 100%;
    height: 550px;
    // height: auto;
    object-fit: cover; 
    filter: brightness(0.6); 
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}
.poster-img {
    // width: 100%;
    // max-width: 80vw;
    width: 160px;
    height: 240px;
    border-radius: 8px;    
}
.play {
    text-decoration: none;
}
.btn-play {
    color: #fff;
    border: none;
    font-size: 1.6rem;
    border-radius: 2px;
    transition: 0.3s;
    cursor: pointer;
    width: 178px;
    height: 40px;
    margin-right: 6px;
    border-radius: 30px;
    background-image: linear-gradient(to right, #fb0, #e43603, #ff6290, #ff5000);

}
.info {
    padding: 20px;
}
.btn-share {
    border: none;
    border-radius: 30px;
    width: 88px;
    height: 40px;
    margin-left: 6px;
    background: #f8b3c7;
    background-image: linear-gradient(to right, #25aae1, #024fd6, #04befe, #3f86ed);
}
.btn-save {
    border: none;
    color: white;
    border-radius: 30px;
    margin-top: 5px;
    margin-left: 6px;
    margin-right: 6px;
    width: 88px;
    height: 40px;
    padding: 0 5px;
    background-image: linear-gradient(to right, #009245, #d0c200, #00a8c5, #d9e021);
}
.btn-mobile-display {
    display: none;
}
.list-episodes {
    margin-left: 20px;
}
.list-episodes button {
    width: 90px;
    height: 40px;
    background-color: #ffbe0b;
    border-radius: 6px;
    margin-left: 8px;
    margin-top: 22px;
}
.selectedButton {
    color: red;
}
@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }
    .row {
        padding: 20px;
    }
    h2 {
        font-size: 16px;
    }
    p {
        font-size: 14px;
    }
    .btn-save {
        margin-left: 0px;
    }
    .btn-share {
        margin-top: 5px;
    }
    .container {
        margin-top: 80px;
    }
    .detail-banner {
        display: none;
    }
    .btn-mobile-display {
        display: block;
    }
    .btn-desktop-display {
        display: none;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }
    h2 {
        font-size: 14px;
    }
    p {
        font-size: 12px;
    }
    .btn-save {
        margin-left: 0px;
    }
    .btn-share {
        margin-top: 5px;
    }
    .container {
        margin-top: 80px;
    }
    .row {
        padding: 20px;
    }
    .detail-banner {
        display: none;
    }
    .btn-mobile-display {
        display: block;
    }
    .btn-desktop-display {
        display: none;
    }
}
@media (max-width: 768px) {
    .row {
        flex-direction: column;
        padding: 20px;
    }

    .col-md-8 {
        flex: 1 0 100%;
    }
    .btn-play {
        width: 100%;
    }
    .btn-save {
        margin-left: 0px;
        width: 50%;
    }
    .btn-share {
        margin-top: 5px;
        width: 50%;
    }
    .display-btn-2 {
        display: flex;
    }
    .container {
        margin-top: 80px;
    }
    .detail-banner {
        display: none;
    }
    .btn-mobile-display {
        display: block;
    }
    .btn-desktop-display {
        display: none;
    }
}

// .container {
//     padding: 2vw;
// }
.tags,
.genres {
    margin-top: 10px;

    span {
      background: rgba(255, 255, 255, 0.2);
      padding: 4px 10px;
      border-radius: 5px;
      margin-right: 6px;
      font-size: 12px;
    }
  }
.poster img {
    max-width: 80vw;
}
