.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  width: 600px;
  height: 580px;
  background-color: #18181b;
  margin-top: 80px;
  margin-bottom: 80px;
  border-radius: 20px;
  text-align: center;
}
.form-title {
  border-bottom: 1px solid var(--success);
  margin-bottom: 20px;
}
.title {
  text-align: center;
  margin-bottom: 12px;
  color: var(--success);
}

//css btn
.btn {
  color: var(--white);
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  width: 316px;
}

.btn:hover {
  box-shadow: 2px 2px 15px #8707ff inset;
}

.btn:active {
  box-shadow: 2px 2px 20px #8707ff inset;
}

.btn-github {
  color: var(--white);
  border: 2px solid #30ff07;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  width: 316px;
}

.btn-github:hover {
  box-shadow: 2px 2px 15px #30ff07 inset;
}

.btn-github:active {
  box-shadow: 2px 2px 20px #30ff07 inset;
}
