.wrapper {
    display: flex;
    flex-direction: column;
}
.container {
    width: 100%;
    min-height: auto;
    background: rgb(10, 10, 10);
    border-radius: 10px;
}

@media (max-width: 740px) {
    .container {
        width: 100vw;
    }
}
