.wrapper {
    width: 100%;
    height: 70px;
    background: transparent;
    z-index: 2;
    position: fixed;
}

.navbar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
}

.nav-left {
    display: flex;
    align-items: center;
}
.logo-name {
    text-decoration: none;
}
.nav-left h2 {
    color: #ffbe0b;
    font-weight: bold;
}
.nav-right {
    display: flex;
    align-items: center;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-left ul li {
    padding: 0 20px;
}

.link {
    text-decoration: none;
    color: aqua;
    font-weight: bold;
    &:hover {
        color: #17c964;
    }
}
.search-container-mobile,
.search-container {
    position: relative;
    display: flex;
    align-items: center;
}
.search-input-mobile {
    margin-left: 22px;
    width: 90%;
    height: 40px;
    border-radius: 34px;
    outline: none;
    border: solid 1px #fff;
    padding: 0 40px 0 15px;
    background: transparent;
    color: #fff;
    border: solid 1px #17c964;
}
.search-input {
    width: 250px;
    height: 40px;
    border-radius: 34px;
    outline: none;
    border: solid 1px #fff;
    padding: 0 40px 0 15px;
    background: transparent;
    color: #fff;
    border: solid 1px #17c964;
}
.icon-search-mobile {
    position: absolute;
    right: 10%;
    cursor: pointer;
    color: red;
}
.icon-search {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: red;
}

.menu-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
}

.mobile-menu {
    display: none;
    background: #0f172a;
    padding: 10px 0;
    position: relative;
    z-index: 999;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-top: 12px;
    flex-direction: column;
}

.mobile-menu ul li {
    padding: 10px;
}
.link-mobile {
    margin-left: 22px;
    text-decoration: none;
    color: #17c964;
}
.country-list {
  z-index: 1;
  width: 150px;
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
  max-height: 300px; 
  overflow-y: auto;
  height: auto;
  border-radius: 4px;
  background-color: rgba(15, 17, 26, .95) !important;
  color: #fff;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}
.country-btn {
  padding: 20px;
}
.country-list::-webkit-scrollbar {
  display: none;
}
.country-list h5 {
  flex: 1 1 45%; /* Mỗi mục chiếm khoảng một nửa chiều rộng của container */
  margin-left: 10px;
  padding: 8px;
  box-sizing: border-box; /* Đảm bảo padding không ảnh hưởng đến chiều rộng */
}
.country-list h5:hover {
  background-color: #f0f0f0; /* Thay đổi màu nền khi hover */
  color: #007bff; /* Thay đổi màu chữ khi hover */
  cursor: pointer; /* Hiển thị con trỏ chuột dạng "pointer" để người dùng biết có thể nhấp */
  transform: translateX(5px); /* Dịch chuyển nhẹ sang phải khi hover */
}
// Media queries cho responsive
@media (max-width: 1150px) {
    .nav-left ul,
    .search-container {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .mobile-menu {
        display: block;
    }
    .navbar {
        justify-content: space-between;
    }
}

@media (min-width: 1151px) {
    .mobile-menu {
        display: none;
    }
}



